/* Blog */
.blogIcon{
  padding-bottom: 3%;
}

.moreInfo{
  font-size: 1.2rem;

}

/* Recent Events */

#recentEvents{
  background-image: url('../images/recentBG.gif');
}
.pad{
  padding-left: 10%;

}

li{
  padding-bottom: 13px;
}

/* Upcoming Events */


.upcoming{
  background-color: #eaeaea;
}

.txtUpcomming{

  color: #212121;

}

/* Annual Report */
#annualReport{
  background-image: url('../images/annualReport.gif');

}

.report{
  padding-top: 15px;

}

.pannel1,.pannel2,.pannel3{
  background-color: #ffffff;
  padding-top: 100px;
}

.fullReport{
  padding-top: 15px;
  color: red;
  text-decoration: none;
}

.fullReport:hover{

  text-decoration: none;
}


/* Contact */
#contact {
  background-image: url('../images/contactBG.gif');
}

.send {
  font-family: 'Josefin Sans';
}

/* Footer */
#footer {
  padding: 2% 15%;
  text-align: center;
  background-color: #000;
}

.bottom-icon {
  font-size: 3rem;
  color: #fff;
  margin: 10px;
}

.bottom-icon:hover {
  color: #8f8f8f;
}

.footer-link {
  color: #4FABC1;
}

.footer-link:hover {
  color: #EA3C56;
  text-decoration: none;
}

.backtop{
  border-radius: 25px ;
  height: 50px ;
  width: 50px ;


}
@media (min-width:771px) {
  .cr {
    align-content: space-between;
  }

  .spaceIcons {
    padding-right: 30%;
  }

  .spaceCopyright {
    padding-left: 20%;
  }
}
