/* Contact */
#contact {
  background-image: url('../images/contactBG.gif');
}

.send {
  font-family: 'Josefin Sans';
}

/* Footer */
#footer {
  padding: 2% 15%;
  text-align: center;
  background-color: #000;
}

.bottom-icon {
  font-size: 3rem;
  color: #fff;
  margin: 10px;
}

.bottom-icon:hover {
  color: #8f8f8f;
}

.footer-link {
  color: #4FABC1;
}

.footer-link:hover {
  color: #EA3C56;
  text-decoration: none;
}

@media (min-width:771px) {
  .cr {
    align-content: space-between;
  }

  .spaceIcons {
    padding-right: 30%;
  }

  .spaceCopyright {
    padding-left: 20%;
  }
}
