body {
  background-color: #343A40;
}

p {
  color: #fff;
  padding-bottom: 20px;
}

/* Navigation Bar */
#title {
  background-color: #fff;
}

.navbar {
  padding-bottom: 1rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  margin: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

#report1920, #report1819, #report1718 {
 background-color: black;
}
