body{
  background-color: #343A40;
}

/* Navigation Bar */
#title{
 background-color: #fff;
}
.navbar {
  padding-bottom: 1rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
}

.nav-item {
  margin: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}
